:root {
  --main-color: rgba(17, 136, 216, 0.8);
  --bg-not-white-color: rgb(247, 247, 247);
  --button-hover-color: rgb(255, 196, 0);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative; 
}

header::after {
  content: "";
  background-image: url('https://images.yourstory.com/production/document_image/mystoryimage/y8km26zg-becoming-a-web-developer-in-2016.jpg?fm=png&auto=format');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; 
  z-index: -1;
}

header .left {
  flex: 5;
  position: relative;
  padding: 12em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left h1 {
  font-size: 6em;
}
.left h2 {
  font-size: 2em;
  margin: 0;
}
.left h4 {
  font-weight: 600;
  margin: 0;
}

.left .flex-item {
  width: calc(100% - 150px);
  margin: 1% 10%;
}

span.name {
  color: var(--main-color);
}

.left .image {
  position: absolute;
  right: -150px;
  z-index: 1;
  box-shadow: 5px 0 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-image: url('https://store.playstation.com/store/api/chihiro/00_09_000/container/GB/en/99/EP2402-CUSA05624_00-AV00000000000124//image?_version=00_09_000&platform=chihiro&w=720&h=720&bg_color=000000&opacity=100');
}
@media only screen and (max-width: 950px) {
  .left .image {
    display: none;
  }
  .left .flex-item {
    width: 90%;
    margin: 1% 10%;
  }
}
@media only screen and (max-width: 700px) {
  header .left {
    padding: 6em 0;
    position: static;
  }
  .left h1 {
    font-size: 3.7em;
  }
}
header nav {
  background-color: var(--main-color);
  flex: 4;
  position: relative;
}

.menu {
  position: absolute;
  right: 3%;
}

.menu li {
  display: inline-block;
  margin: 0.5em 1.5em;
}

.menu a {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

.social {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 8%;
}
.social h5 {
  display: block;
  border-bottom: 1px solid white;
  line-height: 2;
  font-weight: 400;
  font-size: 1.1em;
  text-align: right;
}
.icon {
  margin-left: .2em;
  margin-right: .2em;
  font-size: 2em;
  color: white;
}

.contact-invitation {
  text-align: center;
  background-color: white;
}
.contact-invitation h2 {
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 1px;
}
.contact-invitation a {
  display: inline-block;
  margin: 1em 1.5em 3em 1.5em;
  padding: 0.75em 2.3em;
  border: 1.5px solid var(--main-color);
  border-radius: 2em;
  color: var(--main-color);
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.contact-invitation .contact {
  background-color: var(--main-color);
  color: white;
}

 .contact-invitation a:hover {
  color: var(--button-hover-color);
  border-color: var(--button-hover-color);
} 

.contact-invitation .contact:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  color: white;
}

#middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-not-white-color);
}

.content {
  height: 90%;
  width: 80%;
  padding: 1em 1em 3em 1em;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#about-me h2 {
  font-size: 2em;
  font-weight: 700;
}
#about-me .info {
  width: 100%;
  flex: 5;
  background-color: white;
  box-shadow: 7px 7px 20px 3px rgba(0, 0, 0, 0.07);
}
.info .inner {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 3em 3em;
}

.personal-list {
  flex: 3;
  font-size: 1.1em;
}

.personal-text {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding-left: 1.5em;
  border-left: 1px solid var(--main-color);
  font-size: 1.25em;
  line-height: 1.75;
  flex: 6;
}
@media only screen and (max-width: 1000px) {
  .info .inner {
    flex-direction: column;
    align-items: center;
  }
  .personal-text {
    border: none;
    border-top: 1px solid var(--main-color);
  }
}
#skills {

}

#portfolio {

}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  display: flex;
  box-shadow: 7px 7px 20px 3px rgba(0, 0, 0, 0.07);
  padding: 10vh 10vw;
}
.contact-left {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 3;
  background-color: var(--main-color);
  color: white;
}
.contact-left-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px 0 40px 20px;
  box-sizing: border-box;
  position: relative;
}
.contact-left-content::after {
  content:"";
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 40%;
}
.contact-left-content span {
  display: block;
  padding-top: 10%;
  flex: 1;
}
.contact-left-content .text {
  letter-spacing: 0.5px;
  font-size: 1.1em;
  line-height: 1.35;
}
.contact-left-content .address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 4;
  margin-top: 13em;
}
.contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 6;
  background-color: var(--bg-not-white-color);
}
.contact-right-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  padding-bottom: 10%;
}
.contact-right-content h1 {
  display: block;
  color: var(--main-color);
  margin-top: 0px;
}
.contact-right-content div {
  flex: 1;
  margin-top: 40px;
}
.contact-right-content input{
  height: 90%;
  font-size: 120%;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--main-color);
  background-color: var(--bg-not-white-color);
}
.contact-right-content input::placeholder {
  color: rgb(168, 168, 168);
}
div.last {
  display: flex;
  align-items: flex-end;
  flex: 5;
}
input.last {
  height: 20%;

}
footer h5 {
  color: grey;
  font-weight: 300;
  bottom: 0px;
}
@media only screen and (max-width: 650px) {

  #contact {
    flex-direction: column-reverse;
  }
  .contact-left-content .address {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .contact-right-content h1 {
    margin-top: 2em;
  }
  input.last {
    margin-bottom: 2em;
  }
}

