body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}
header {
  display: flex;
  height: 600px;
  width: 100%;
  position: relative; 
}

header::after {
  content: "";
  background-image: url('https://images.yourstory.com/production/document_image/mystoryimage/y8km26zg-becoming-a-web-developer-in-2016.jpg?fm=png&auto=format');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; 
  z-index: -1;
}

header .left {
  flex: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left h1 {
  font-size: 6em;
}

.left .flex-item {
  width: calc(100% - 150px);
  margin: 10px 10%;
}

span.name {
  color: rgb(17, 136, 216);
}

.left .image {
  position: absolute;
  right: -150px;
  z-index: 1;
  box-shadow: 5px 0 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-image: url('https://store.playstation.com/store/api/chihiro/00_09_000/container/GB/en/99/EP2402-CUSA05624_00-AV00000000000124//image?_version=00_09_000&platform=chihiro&w=720&h=720&bg_color=000000&opacity=100');
}
header nav {
  background-color: rgba(17, 136, 216, 0.8);
  flex: 4;
  position: relative;
}

.menu {
  position: absolute;
  right: 20px;
}

.menu li {
  display: inline-block;
  margin: 10px 20px;
}

.menu a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.social {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.social h5 {
  display: block;
  border-bottom: 1px solid white;
  text-align: right;
}
.icon {
  margin-left: .2em;
  margin-right: .2em;
  font-size: 2em;
  color: white;
}
.icon-twitter-circled {
  margin-left: 0;
}
.icon-facebook-circled {
  margin-right: 0;
}

.contact-invitation {
  text-align: center;
  height: 200px;
  background-color: white;
}
.contact-invitation h2 {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 1px;
}
.contact-invitation a {
  margin: 0 10px;
  padding: 12px 45px;
  border: 1.5px solid rgba(17, 136, 216, 0.8);
  border-radius: 30px;
  color: rgba(17, 136, 216, 0.8);
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.contact-invitation .contact {
  background-color: rgba(17, 136, 216, 0.8);
  color: white;
}

 .contact-invitation a:hover {
  color: rgb(255, 196, 0);
  border-color: rgb(255, 196, 0);
} 

.contact-invitation .contact:hover {
  background-color: rgb(255, 196, 0);
  border-color: rgb(255, 196, 0);
  color: white;
}

.content {
  border: 2px solid red;
  background-color: rgb(247, 247, 247);
  height: 1000px;
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 750px;
}

#contact {
  display: flex;
  box-shadow: 7px 7px 20px 3px rgba(0, 0, 0, 0.07);
  height: 80%;
  width: 80%;
}
.contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  background-color: rgba(17, 136, 216, 0.8);
  color: white;
}
.contact-left-content {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  padding-right: 15%;
  box-sizing: border-box;
  position: relative;
}
.contact-left-content::after {
  content:"";
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5px;
  width: 40%;
}
.contact-left-content span {
  display: block;
  padding-top: 10%;
  flex: 1;
}
 .contact-left-content .text {
  letter-spacing: 0.5px;
  font-size: 1.1em;
  line-height: 1.3;
}
.contact-left-content .address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 4;
}
.contact-right {
  flex: 5;
  background-color: rgb(247, 247, 247);
}
.contact-right-content {
  height: 90%;
  width: 90%;
}
footer h5 {
  color: grey;
  font-weight: 300;
  position: absolute;
  bottom: 0px;
}

